{{#> node type="variableDef"}}
<span class="blocks-hidden">(</span>
<span class="blocks-operator">define</span>
<span class="blocks-args">
  <span class="blocks-name">{{node.name}}</span>
  {{{renderNode node.body cm callback}}}
</span>
<span class="blocks-hidden">)</span>
{{/node}}
